corpora/VUA/2541/VUAMC.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>VICI customization</title>
      </titleStmt>
      <editionStmt>
        <edition>generated on     
	   <date>2010-10-15T11:38:59Z</date>
            </edition>
      </editionStmt>
      <publicationStmt>
        <p/>
      </publicationStmt>
      <sourceDesc>
        <p>generated by oddbyexample.xsl, based on analyzing 
	    118 files from
	    /Users/rahtz/SVN/infodev/projects/VICI</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="VICI" start="TEI ">
        <moduleRef key="tei"/>
        <classSpec ident="att.canonical" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="key" mode="delete"/>
            <attDef ident="ref" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.ranging" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="atLeast" mode="delete"/>
            <attDef ident="atMost" mode="delete"/>
            <attDef ident="min" mode="delete"/>
            <attDef ident="max" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.dimensions" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="unit" mode="delete"/>
            <attDef ident="quantity" mode="delete"/>
            <attDef ident="extent" mode="delete"/>
            <attDef ident="precision" mode="delete"/>
            <attDef ident="scope" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.damaged" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="hand" mode="delete"/>
            <attDef ident="agent" mode="delete"/>
            <attDef ident="degree" mode="delete"/>
            <attDef ident="group" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.datable.w3c" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="period" mode="delete"/>
            <attDef ident="when" mode="delete"/>
            <attDef ident="notBefore" mode="delete"/>
            <attDef ident="notAfter" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.declarable" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="default" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.divLike" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="org" mode="delete"/>
            <attDef ident="sample" mode="delete"/>
            <attDef ident="part" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.docStatus" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="status" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.responsibility" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="cert" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.editLike" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="evidence" mode="delete"/>
            <attDef ident="source" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.global" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="xml:space" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.handFeatures" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="scribe" mode="delete"/>
            <attDef ident="script" mode="delete"/>
            <attDef ident="medium" mode="delete"/>
            <attDef ident="scope" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.internetMedia" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="mimeType" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.interpLike" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="inst" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.measurement" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="unit" mode="delete"/>
            <attDef ident="quantity" mode="delete"/>
            <attDef ident="commodity" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.naming" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="role" mode="delete"/>
            <attDef ident="nymRef" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.placement" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="place" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.pointing" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="evaluate" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.pointing.group" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="domains" mode="delete"/>
            <attDef ident="targFunc" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.readFrom" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="source" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.scoping" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="target" mode="delete"/>
            <attDef ident="match" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.segLike" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="part" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.sourced" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="ed" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.spanning" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="spanTo" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.tableDecoration" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="role" mode="delete"/>
            <attDef ident="rows" mode="delete"/>
            <attDef ident="cols" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.timed" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="start" mode="delete"/>
            <attDef ident="end" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.transcriptional" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="hand" mode="delete"/>
            <attDef ident="status" mode="delete"/>
            <attDef ident="seq" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.translatable" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="version" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.personal" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="full" mode="delete"/>
            <attDef ident="sort" mode="delete"/>
          </attList>
        </classSpec>
        <moduleRef key="core" except="abbr add analytic biblScope biblStruct binaryObject cb cit del distinct divGen editor emph expan foreign gloss graphic headItem headLabel imprint index l lb lg listBibl measure measureGrp meeting mentioned milestone monogr name num orig postBox postCode pubPlace publisher q ref reg relatedItem resp respStmt rs said series soCalled sp speaker stage street teiCorpus time unclear"/>
        <moduleRef key="analysis" except="cl interp interpGrp m pc phr span spanGrp"/>
        <elementSpec ident="s" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="function" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="w" mode="change">
          <attList>
            <attDef ident="lemmaRef" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="function" mode="delete"/>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="AJ0"/>
                <valItem ident="AJ0-AV0"/>
                <valItem ident="AJ0-NN1"/>
                <valItem ident="AJ0-VVD"/>
                <valItem ident="AJ0-VVG"/>
                <valItem ident="AJ0-VVN"/>
                <valItem ident="AJC"/>
                <valItem ident="AJS"/>
                <valItem ident="AT0"/>
                <valItem ident="AV0"/>
                <valItem ident="AV0-AJ0"/>
                <valItem ident="AVP"/>
                <valItem ident="AVP-PRP"/>
                <valItem ident="AVQ"/>
                <valItem ident="AVQ-CJS"/>
                <valItem ident="CJC"/>
                <valItem ident="CJS"/>
                <valItem ident="CJS-AVQ"/>
                <valItem ident="CJS-PRP"/>
                <valItem ident="CJT"/>
                <valItem ident="CJT-DT0"/>
                <valItem ident="CRD"/>
                <valItem ident="CRD-PNI"/>
                <valItem ident="DPS"/>
                <valItem ident="DT0"/>
                <valItem ident="DT0-CJT"/>
                <valItem ident="DTQ"/>
                <valItem ident="EX0"/>
                <valItem ident="ITJ"/>
                <valItem ident="NN0"/>
                <valItem ident="NN1"/>
                <valItem ident="NN1-AJ0"/>
                <valItem ident="NN1-NP0"/>
                <valItem ident="NN1-VVB"/>
                <valItem ident="NN1-VVG"/>
                <valItem ident="NN2"/>
                <valItem ident="NN2-VVZ"/>
                <valItem ident="NP0"/>
                <valItem ident="NP0-NN1"/>
                <valItem ident="ORD"/>
                <valItem ident="PNI"/>
                <valItem ident="PNI-CRD"/>
                <valItem ident="PNP"/>
                <valItem ident="PNQ"/>
                <valItem ident="PNX"/>
                <valItem ident="POS"/>
                <valItem ident="PRF"/>
                <valItem ident="PRP"/>
                <valItem ident="PRP-AVP"/>
                <valItem ident="PRP-CJS"/>
                <valItem ident="TO0"/>
                <valItem ident="UNC"/>
                <valItem ident="VBB"/>
                <valItem ident="VBD"/>
                <valItem ident="VBG"/>
                <valItem ident="VBI"/>
                <valItem ident="VBN"/>
                <valItem ident="VBZ"/>
                <valItem ident="VDB"/>
                <valItem ident="VDD"/>
                <valItem ident="VDG"/>
                <valItem ident="VDI"/>
                <valItem ident="VDN"/>
                <valItem ident="VDZ"/>
                <valItem ident="VHB"/>
                <valItem ident="VHD"/>
                <valItem ident="VHG"/>
                <valItem ident="VHI"/>
                <valItem ident="VHN"/>
                <valItem ident="VHZ"/>
                <valItem ident="VM0"/>
                <valItem ident="VVB"/>
                <valItem ident="VVB-NN1"/>
                <valItem ident="VVD"/>
                <valItem ident="VVD-AJ0"/>
                <valItem ident="VVD-VVN"/>
                <valItem ident="VVG"/>
                <valItem ident="VVG-AJ0"/>
                <valItem ident="VVG-NN1"/>
                <valItem ident="VVI"/>
                <valItem ident="VVN"/>
                <valItem ident="VVN-AJ0"/>
                <valItem ident="VVN-VVD"/>
                <valItem ident="VVZ"/>
                <valItem ident="VVZ-NN2"/>
                <valItem ident="XX0"/>
                <valItem ident="ZZ0"/>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="DFMA">
                  <desc>Added as a status when candidates for mFlag or MRW could not be analyzed properly due to lack of context (Discard For Metaphor Analysis)</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="c" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="function" mode="delete"/>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="PUL"/>
                <valItem ident="PUN"/>
                <valItem ident="PUQ"/>
                <valItem ident="PUR"/>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <classSpec ident="att.global.analytic" module="analysis" type="atts" mode="change">
          <attList>
            <attDef ident="ana" mode="delete"/>
          </attList>
        </classSpec>
        <elementSpec ident="p" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="it"/>
              </valList>
            </attDef>
            <attDef ident="decls" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="hi" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="bo"/>
                <valItem ident="hi"/>
                <valItem ident="it"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="quote" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="it"/>
              </valList>
            </attDef>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="desc" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="sic" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="corr" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="choice" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="gap" mode="change">
          <attList>
            <attDef ident="hand" mode="delete"/>
            <attDef ident="agent" mode="delete"/>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="ptr" mode="change">
          <attList>
            <attDef ident="cRef" mode="delete"/>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="list" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="simple"/>
              </valList>
            </attDef>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="item" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="label" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="head" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="bo"/>
              </valList>
            </attDef>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="BYLINE"/>
                <valItem ident="MAIN"/>
                <valItem ident="SUB"/>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="note" mode="change">
          <attList>
            <attDef ident="anchored" mode="delete"/>
            <attDef ident="targetEnd" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="target" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="pb" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="title" mode="change">
          <attList>
            <attDef ident="level" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
        <moduleRef key="drama" except="actor camera castGroup castItem castList epilogue move performance prologue role roleDesc set sound tech view"/>
        <elementSpec ident="caption" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
	<moduleRef key="namesdates" include="persName orgName placeName"/>
        <moduleRef key="header" except="appInfo application
					cRefPattern catDesc catRef
					category classCode
					correction 
edition editionStmt geoDecl handNote hyphenation interpretation namespace normalization  principal quotation refState refsDecl rendition  samplingDecl segmentation seriesStmt sponsor stdVals tagUsage tagsDecl typeNote"/>
        <elementSpec ident="teiHeader" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="fileDesc" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="titleStmt" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="publicationStmt" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="sourceDesc" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
        <moduleRef key="linking" except="ab alt altGrp join joinGrp link linkGrp timeline when"/>
        <elementSpec ident="anchor" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="seg" mode="change">
          <attList>
            <attDef ident="morph" mode="add" ns="http://www.tei-c.org/ns/VICI">
              <desc>Added when only part of the lexical unit is
		  related to metaphor rather than the whole lexical
		  unit, i.e. ‘hunting’ in ‘honey-hunting bees’</desc>
              <datatype>
                <ref xmlns="http://relaxng.org/ns/structure/1.0" name="data.boolean"/>
              </datatype>
            </attDef>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="function" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="mFlag">
                  <desc>An mFlag, or Metaphor Flag, is a lexical unit signalling directly expressed metaphor (such as simile), i.e. ‘like, as ’in ‘That girl is ’‘like ’‘a dog’ </desc>
                </valItem>
                <valItem ident="mrw">
                  <desc>An MRW, or Metaphor-Related Word, is a lexical unit that is directly, indirectly or implicitly related to metaphor</desc>
                </valItem>
                <valItem ident="trunc"/>
              </valList>
            </attDef>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="bridge">
                  <desc>The MRW is a bridge term </desc>
                </valItem>
                <valItem ident="impl">
                  <desc>The MRW is
			implicitly related to metaphor, for example,
			when a pronoun or auxiliary verb refers back
			to an MRW: ‘As the weather broke up, ’‘so
			did’‘ ’(= break up) ‘their friendship.’</desc>
                </valItem>
                <valItem ident="lex">
                  <desc>Added when the mFlag is one lexical unit, i.e. ‘like, as ’</desc>
                </valItem>
                <valItem ident="lit">
                  <desc>The MRW is directly related to metaphor (i.e., used “literally”): ‘That girl is like ’‘a dog’</desc>
                </valItem>
                <valItem ident="met">
                  <desc>The MRW is indirectly related to metaphor (i.e., used metaphorically): ‘That ’‘dog’‘ fired me.’</desc>
                </valItem>
                <valItem ident="morph">
                  <desc>Added when the mFlag is a morpheme, i.e. ‘–like, -ish’</desc>
                </valItem>
                <valItem ident="phrase">
                  <desc>Added when the mFlag is a phrase, i.e. ‘with the … of a ..., as … as …’</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="ANIM">
                  <desc>The MRW is a case of animation</desc>
                </valItem>
                <valItem ident="M"/>
                <valItem ident="OMM">
                  <desc>MRW if Longman is used rather than Macmillan due to conflation of senses in latter (Overrule MacMillan)</desc>
                </valItem>
                <valItem ident="PP">
                  <desc>MRW is a possible personification, i.e. can be interpreted as either metonymy or metaphor or both (‘The White House spoke of ...’)</desc>
                </valItem>
                <valItem ident="UNKNOWN"/>
                <valItem ident="WIDLII">
                  <gloss>When In Doubt, Leave It In – indicates that the status of the mFlag or MRW is unclear (i.e. a borderline case)</gloss>
                </valItem>
                <valItem ident="double">
                  <desc>The MRW is a case of double metaphor, that is, regular metaphor as well as a possible personification (i.e. ‘the bell shattered the silence’: ‘shattered the  silence = ’regular metaphor and‘ bell shattered = ’possible personification)</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="resp" mode="delete"/>
          </attList>
        </elementSpec>
        <classSpec ident="att.global.linking" module="linking" type="atts" mode="change">
          <attList>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="select" mode="delete"/>
          </attList>
        </classSpec>
        <moduleRef key="spoken" except="broadcast equipment kinesic recording recordingStmt scriptStmt writing"/>
        <elementSpec ident="u" mode="change">
          <attList>
            <attDef ident="trans" mode="delete"/>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="dur" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="pause" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="who" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="vocal" mode="change">
          <attList>
            <attDef ident="iterated" mode="delete"/>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="dur" mode="delete"/>
            <attDef ident="who" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="incident" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="who" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="shift" mode="change">
          <attList>
            <attDef ident="feature" mode="delete"/>
            <attDef ident="new" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="crying"/>
                <valItem ident="laughing"/>
                <valItem ident="praying"/>
                <valItem ident="screaming"/>
                <valItem ident="shouting"/>
                <valItem ident="singing"/>
                <valItem ident="singing+shouting"/>
                <valItem ident="whingeing"/>
                <valItem ident="whispering"/>
                <valItem ident="yawning"/>
              </valList>
            </attDef>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="who" mode="delete"/>
          </attList>
        </elementSpec>
        <moduleRef key="textstructure" except="argument back byline closer dateline div5 div6 div7 docAuthor docDate docEdition docImprint docTitle epigraph floatingText front imprimatur opener postscript salute signed titlePage titlePart trailer"/>
        <elementSpec ident="TEI" mode="change">
          <attList>
            <attDef ident="version" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="text" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="body" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="group" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="div" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="u"/>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="div1" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="chapter"/>
                <valItem ident="u"/>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="div2" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="chapter"/>
                <valItem ident="u"/>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="div3" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="u"/>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="div4" mode="change">
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="u"/>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
          </attList>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
